---
import { Image } from 'astro:assets'
import Item from '../assets/section/one.png'
import ItemTwo from '../assets/section/two.png'
import ItemThree from '../assets/section/three.png'


---
<h2 class=" text-center text-lg/relaxed mt-10 text-[var(--color-primary)] ">Nails Types</h2>
<h3 class="text-center text-5xl font-bold text-[var(--color-secondary)] "> Discover the perfect nail type for your needs. </h3>
<section class="w-full py-12 ">
  <div class="container grid grid-cols-1 gap-6 px-4 md:grid-cols-3 md:gap-8">
    <div class="group rounded-lg border  p-6 shadow-sm transition-all hover:shadow-lg">
      <div class="flex items-center space-x-4">
        <div class="flex size-12 items-center justify-center   ">
          <Image src={Item} alt='Item One' class="size-6 " />
        </div>
        <h3 class="text-lg text-[var(--color-primary)] font-semibold tracking-tight">Acrylic Nails</h3>
      </div>
      <p class="mt-4 text-[var(--color-text)] ">
        Acrylic nails are a popular choice for those looking to enhance the appearance of their natural nails. They
        are durable, long-lasting, and can be customized to suit your desired look.
      </p>
    </div>
    <div class="group rounded-lg border  p-6 shadow-sm transition-all hover:shadow-lg ">
      <div class="flex items-center space-x-4">
        <div class="flex size-12 items-center justify-center   ">
          <Image src={ItemTwo} alt='Item One' class="size-6 " />
        </div>
        <h3 class="text-lg font-semibold tracking-tight text-[var(--color-primary)]">Gel Nails</h3>
      </div>
      <p class="mt-4 text-[var(--color-text)] ">
        Gel nails are a great option for those who want a long-lasting, shiny manicure. They are cured under a UV or
        LED light, making them more durable than traditional nail polish.
      </p>
    </div>
    <div class="group rounded-lg border  p-6 shadow-sm transition-all hover:shadow-lg ">
      <div class="flex items-center space-x-4">
        <div class="flex size-12 items-center justify-center   ">
          <Image src={ItemThree} alt='Item One' class="size-6 " />
        </div>
        <h3 class="text-lg font-semibold tracking-tight text-[var(--color-primary)]">Dip Powder Nails</h3>
      </div>
      <p class="mt-4 text-[var(--color-text)]">
        Dip powder nails are a long-lasting and low-maintenance option. They are created by dipping your nails into
        a colored powder, which is then sealed with a clear topcoat.
      </p>
    </div>
  </div>
</section>


<style>
  article {
    height: 230px;
  }
  img {
    width: 60px;
  }
</style>