---
import Header from '../components/Header.astro';
import Info from '../components/Info.astro';
import Nav from '../components/Nav.astro';
import SemiPermanent from '../components/Semi-permanent.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Pauline Estetic">

	<main >
		<div class="bg absolute w-[50%]  md:w-[42%] right-0 top-0 md:h-[112dvh]"></div>
		<div class="bg-2 w-[50%] absolute md:w-[58%] left-0 top-0 md:h-[112dvh]"></div>
		<Nav/>
		<Header/>
		<Info/>
		<SemiPermanent/>
	
	</main>
		
	
</Layout>

<style is:global>

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


	:root {
    --color-background: #FFEFEF;
	--color-primary: #F3D0D7;
	--color-secondary: #F0EBE3;
	--color-tertiary: #F6F5F2;
  		  }

		  .bg {
			z-index: -10;
			background-color: var(--color-primary);
		  }
		  .bg-2 {
			z-index: -10;
			background-color: var(--color-secondary);
		  }
html {
	background-color: var(--color-background);
	font-family: "Playfair Display", serif;
	line-height: 1.576rem;
	}


	
p  {	

	font-size: clamp(1.035rem, 2vw, 0.85rem);
	}

	
	@media (max-width: 1080px) {
		h1 {
			font-size: 2.35rem;
			line-height: 3rem;
			
		}
		h2 {
			font-size: 2.20rem;
		}
	
	}
	
</style>
