---
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pauline Estetic">
	<main>
		<Nav/>
		<Header/>
		
		
	</main>
</Layout>

<style is:global>

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


	:root {
    --color-background: #FFEFEF;
	--color-primary: #F3D0D7;
	--color-secondary: #F0EBE3;
	--color-tertiary: #F6F5F2;
  		  }

html {
	background-color: var(--color-background);
	font-family: "Playfair Display", serif;
	line-height: 1.576rem;
	}

h1 {
	font-weight: bold;
	font-size: 3.5rem;
	color: var(--color-primary);
	}
	
p  {	

	font-size: clamp(1.035rem, 2vw, 0.85rem);
	}

	@media (max-width: 1080px) {
		h1 {
			font-size: 2.35rem;
			line-height: 3rem;
			
		}
		h2 {
			font-size: 2.20rem;
		}
	
	}
</style>
