---
import { Image } from "astro:assets";
import Hand from '../../public/assets/hand.webp'


---
<!-- Encabezado con diseño de grid -->
<header  class="grid grid-cols-1 md:grid-cols-2 md:grid-flow-row-dense mb-2">
    <!-- Contenido principal -->
    <div class="p-2 order-2 flex flex-col md:p-0 md:justify-center text-center md:text-left gap-2 md:gap-5 ">
        <!-- Título -->
        <h1 class="md:pl-5 text-center  md:text-left ">Welcome to my Estetic Store
        Transform Your Look
        </h1>
        <!-- Descripción -->
        <p class="md:pl-5 text-gray-400 text-center md:text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius laboriosam atque placeat cum modi consectetur accusantium veniam. Eum voluptas veniam odio earum. Delectus nihil laboriosam ab aperiam velit, hic veniam? Totam, nam quae, ex voluptatem bland</p>
        <!-- Botón -->
        <button class="py-[0.25rem] px-[1rem] rounded-md md:ml-5   md:text-center md:w-[20%] hover:drop-shadow-lg transition-all duration-300">Press Me</button>
    </div>
    
    <!-- Imagen (oculta en pantallas pequeñas) -->
    <picture class="mt-[5rem] md:order-2  w-[180px] mx-auto md:m-0  md:flex justify-start items-center"> 
        <Image loading="eager" class=" md:size-[350px] md:max-w-[none] " src={Hand} alt="Hand Estetic"></Image>
      
    </picture>
</header>


<style>
    header {
        height: 100dvh;
        
    }

    h1 {
	line-height: clamp(2.5rem, 4vw, 3rem);
    font-size: clamp(2rem, 4vw, 3rem);
	color: var(--color-primary);
	}

    h2 {
        color: var(--color-primary);
        font-weight: 600;
    }
    button {
        background-color: var(--color-primary);
        font-weight: 600;
        color: var(--color-tertiary);
    }
    img {
       
        mask-image: linear-gradient(black 80%, transparent)
        ;
    }
    
</style>