---
import { Image } from "astro:assets";
import Hand from '../assets/hand.webp'
import Background from '../assets/background.png'
---
<header class="grid grid-cols-1 md:grid-cols-2 grid-flow-row-dense">
    <div class="w-auto md:w-[80ch] p-3 md:p-0  flex flex-col flex-wrap text-wrap gap-5 md:gap-10">
       <h1 class="md:pl-5 pt-20 drop-shadow-lg">Welcome to my Estetic Store</h1>
       <p class="md:px-14 text-gray-500 text-center md:text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius laboriosam atque placeat cum modi consectetur accusantium veniam. Eum voluptas veniam odio earum. Delectus nihil laboriosam ab aperiam velit, hic veniam? Totam, nam quae, ex voluptatem blanditiis minima incidunt officia veniam, maiores molestias est voluptatibus? Aut qui dolores dolor et quod!</p>
       <button class="bg-red-500 py-[0.25rem] px-[0.64rem] rounded-md mx-auto drop-shadow hover:drop-shadow-lg transition-all duration-300">Press Me</button>
    </div>
    
    <picture class="md:flex justify-end pr-20 pt-10 hidden"> 
       <Image class="w-[350px] h-[350px] " src={Hand} alt="Hand Estetic"></Image>
    </picture>
 </header>
 

<style>
    header {
        height: calc(100vh - 64px);
        background-color: var(--color-secondary);
    }
    button {
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }
</style>