---
import { Image } from "astro:assets";
import Hand from '../assets/hand.webp'


---
<!-- Encabezado con diseño de grid -->
<header  class="flex flex-col-reverse md:grid md:grid-cols-2 md:grid-flow-row-dense mb-2">
    <!-- Contenido principal -->
    <div class="w-auto p-3 md:p-0 flex flex-col flex-wrap justify-center text-left gap-5 md:gap-5 ">
        <!-- Título -->
        <h1 class="md:pl-5 text-center md:text-left ">Welcome to my Estetic Store
        Transform Your Look
        </h1>
          <!-- Sub-Título -->
       
        <!-- Descripción -->
        <p class="md:pl-5 text-gray-400 text-center md:text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius laboriosam atque placeat cum modi consectetur accusantium veniam. Eum voluptas veniam odio earum. Delectus nihil laboriosam ab aperiam velit, hic veniam? Totam, nam quae, ex voluptatem bland</p>
        <!-- Botón -->
        <button class="py-[0.25rem] px-[1rem] rounded-md md:ml-5   md:text-center md:w-[20%] hover:drop-shadow-lg transition-all duration-300">Press Me</button>
    </div>
    
    <!-- Imagen (oculta en pantallas pequeñas) -->
    <picture class="hero mx-auto md:m-0  md:flex justify-start items-center"> 
        <Image loading="eager" class=" w-[350px] h-[350px]" src={Hand} alt="Hand Estetic"></Image>
      
    </picture>
</header>


<style>
    header {
        height: 100dvh;
    }

    h1 {
	line-height: clamp(2.5rem, 4vw, 3rem);
    font-size: clamp(2rem, 4vw, 3rem);
	color: var(--color-primary);
	}

    h2 {
        color: var(--color-primary);
        font-weight: 600;
    }
    button {
        background-color: var(--color-primary);
        font-weight: 600;
        color: var(--color-tertiary);
    }
    img {
        mask-image: linear-gradient(black 80%, transparent)
        ;
    }
    .hero {
        
        
        background-size: 700px;
        background-position: center center;
        background-clip: padding-box;
        background-repeat: no-repeat;
    }
</style>