
<nav class="p-5 flex justify-between">
<p>Logo</p>
<ul class="flex gap-28 justify-evenly">

    <ul class="flex gap-28 mr-5 justify-evenly drop-shadow-md">
        <li>
            <a href="#">Nosotros</a>
        </li>

        <li>
            <a href="#">Ofrecemos</a>
        </li>

        <li>
            <a href="#">Contacto</a>
        </li>

        <li>
            <a href="#">Contacto</a>
        </li>

</ul>
</nav>

<style>
    nav {
        background-color: var(--color-primary);
    }
    a {
        color: var(--color-secondary);
        font-weight: 600;
    }
</style>