---
import { Image } from 'astro:assets';
import Nails from '../assets/nails/nails.webp';
const numImages = 6; // Define el número de imágenes que deseas mostrar
---

<section class="object-cover flex flex-wrap p-5 gap-5 justify-center flex-[350px] ">
    {Array.from({ length: numImages }, (_, index) => (
        <figure>
            <Image src={Nails} alt={`Nails Model ${index + 1}`} />
        </figure>
    ))}
</section>

<style>
    img {
        
        min-width: 200px;
        width: 300px;
        height: 300px;
    }
    figure {
        transition: all .3s;
    }
    figure:hover {
        transform: scale(1.1);
    }
</style>